<section class="hero is-white is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="cool-text"><i>There is so much that has nothing to do with words; words form only a crude semblance; and what I experienced was wordless.</i></p>
    </div>
  </div>
</section>

<section class="hero is-white is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
    </div>
  </div>
</section>
